// GENERIC SCSS VARIABLES
$font-text: 'Raleway', sans-serif;
$font-logo: 'Advent Pro', sans-serif;
$primary-color: #1688e8;
$primary-color-over: #1A74C0;
$black-color: #24272b;
$black-color-over: #222427;
$link-color: #448aff;
$link-color-over: #346ECC;
$white-color: #FFFFFF;
$text-color: #444444;
$text-grey-color: #c0bbbb;
$grey-color: #f5f5f5;
$dark-grey-color: #cdcdcd;